/* General page layout */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

/* HEADER */
.header {
  flex: none;
  height: 16%;
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* iste visine za left-header i right-header */
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-bottom: 2px solid #ddd;
}

/* Left header (30%) */
.left-header {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-header a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  margin-bottom: 8px;
}

.views {
  display: flex;
  gap: 10px;
}

.views button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.views button:hover {
  background: #eaeaea;
}

/* Right header (70%) */
.rigth-header {
  flex: 7;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* Query boxes: top, mid, bottom */
.top-query,
.mid-query,
.bottom-query {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1; /* sve jednake visine */
  padding: 5px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
}

/* Inputs & select */
input,
select,
button {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button.reset {
  background: #f8f8f8;
}

button.reset:hover {
  background: #ddd;
}

/* MAIN content */
.main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.left {
  flex: 3;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.left .top {
  flex: 2;
  padding: 5px;
  min-height: 47%; /* sprečava da sadržaj gura flex */
  overflow: hidden;
}

.left .top #treeView {
  overflow: auto;
}

.left .bottom {
  flex: 3;
  min-height: 0;
}

.bottom {
  padding: 5px;
}

.center {
  flex: 7;
  padding: 5px;
}

.link {
  stroke: #aaa;
}
.node {
  fill: steelblue;
  cursor: pointer;
}
.label {
  font-size: 12px;
  text-anchor: middle;
}

.link-small {
  stroke: #ccc;
}
.node-small {
  fill: black;
}

h1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

span.selected-node {
  color: green;
  font-weight: bold;
}

.workspaces {
  flex: none;
  height: 3%;
  display: flex;
  border-top: 1px solid #ccc;
  background: #f7f7f7;
  padding: 5px;
  justify-content: space-between;
}

.workspace-tab {
  border: 1px solid #ccc;
  border-bottom: none;
  background: #eaeaea;
  padding: 8px 16px;
  margin-right: 4px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  width: 18%;
}

.workspace-tab.active {
  background: white;
  font-weight: bold;
  border-bottom: 2px solid white; /* da izgleda "spojeno" sa sadržajem */
}
