<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <script type="text/javascript" src="{% static 'd3.v3.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>GraphVisualizer</title>
  </head>
  <body>
    <div class="page">
      <div class="header">
        <div class="left-header">
          <a href="{% url 'index' %}">Graph Visualizer</a>
          <div class="views">
            <button href="{% url 'simple_visualizer' %}" name="simple-view">Simple view</button>
            <button name="block-view">Block view</button>
          </div>
        </div>
        <div class="rigth-header">
          <div class="top-query">
            <label>File:</label>
            <input type="file" id="load-file" name="LoadFile">
            <label>Search:</label>
            <input name="search"></input>
            <button class="reset">Reset query</button>
          </div>
          <div class="mid-query">
            <label>Filter:</label>
            <input name="filter"></input>
            <select id="relations" name="relations">
                <option value="equals">=</option>
                <option value="less">&lt;</option>
                <option value="more">&gt;</option>
                <option value="less-equals">&le;</option>
                <option value="more-equals">&ge;</option>
            </select>
            <input name="relations"></input>
          </div>
          <div class="bottom-query">
            <label for="applied-queries">Applied queries:</label>
            {% block filters %}{% endblock %}
          </div>
        </div>
      </div>
      <div class="main">
        <div class="left">
          <div class="top">{% block tree-view %}{% endblock %}</div>
          <div class="bottom">{% block bird-view %}{% endblock %}</div>
        </div>
        <div class="center">{% block main-view %}{% endblock %}</div>
      </div>
    </div>
  </body>
</html>
