<div id="modern-terminal-container">
  <div class="terminal-header">
    <span class="terminal-title">TERMINAL</span>
  </div>
  <div class="terminal-body">
    <div class="terminal-output">
      <span class="start-text">Modern Graph Visualizer Terminal.</span>
      <span class="start-text">Unesite komandu za početak...</span>
    </div>
    <div class="terminal-input-wrapper">
      <span class="prompt"> > </span>
      <input type="text" class="terminal-input">
    </div>
  </div>
  <div style="display: none;">
    <form id="hiddenFilterForm" method="post" action="{% url 'query_filter' %}">
      {% csrf_token %}
      <input type="hidden" name="filter">
      <input type="hidden" name="relations">
      <input type="hidden" name="value">
    </form>
  </div>
</div>
<script>
  const terminalOutput = document.querySelector('.terminal-output');
  const terminalInput = document.querySelector('.terminal-input');
let commandHistory = JSON.parse(sessionStorage.getItem('terminalHistory')) || [];

  document.addEventListener('DOMContentLoaded', function () {
    if (commandHistory.length > 0) {
      commandHistory.forEach(element => {
        appendLine(element, true)
      });
    }
  });

  function appendLine(text, isCommand = false) {
    const line = document.createElement('div');
    line.innerHTML = `<span class="prompt">${isCommand ? '> ' : ''}</span><span class="line-text">${text}</span>`;
    terminalOutput.appendChild(line);
    terminalOutput.scrollTop = terminalOutput.scrollHeight;
  }

  terminalInput.addEventListener('keydown', function (event) {
    if (event.key === 'Enter') {
      const command = this.value.trim();
      if (command !== '') {
        appendLine(command, true);
        this.value = '';

        const filterMatch = command.match(/^filter\s+(.+)\s+(.+)\s+(.+)$/);

        if (filterMatch) {
          const [, attribute, relation, value] = filterMatch;
          commandHistory.push(command);
          sessionStorage.setItem('terminalHistory', JSON.stringify(commandHistory));
          const form = document.getElementById('hiddenFilterForm');

          form.querySelector('[name="filter"]').value = attribute;
          form.querySelector('[name="relations"]').value = relation;
          form.querySelector('[name="value"]').value = value;

          form.submit();
        } else {
          appendLine('Nepoznata komanda. Pokušajte: filter atribut relacija vrednost', false);
          commandHistory.push('Nepoznata komanda. Pokušajte: filter atribut relacija vrednost');
          sessionStorage.setItem('terminalHistory', JSON.stringify(commandHistory));

        }
      }
    }
  });

  window.addEventListener('load', function () {
    terminalInput.focus();
  });

  terminalInput.addEventListener('keydown', function (event) {
    if (event.key === 'Enter') {
      const command = this.value.trim();
      if (command !== '') {
        appendLine(command, true);
        this.value = '';

        const filterMatch = command.match(/^filter\s+(.+)\s+(.+)\s+(.+)$/);
        if (filterMatch) {
          const [, attribute, relation, value] = filterMatch;
          sendFilterToServer(attribute, relation, value);
        } else {
          appendLine('Nepoznata komanda. Pokušajte: filter atribut relacija vrednost', false);
        }
      }
    }
  });
</script>